:root {
  --primary-color: #ffd134;
  --secundary-color: #fe9601;
  --text-color: #242222;
  --text-color-light: white;
  --default-block-distance: 30px;
  --default-border-radius: 10px;
  --max-border-raius: 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin-bottom: var(--default-block-distance);
}

h1,
h2 {
  margin-top: 30px;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  font-weight: 500;
}

.menu a {
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.img-container-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-container-header img {
  width: 200px;
  border: solid 2px white;
  border-radius: 100%;
  padding: 2px;
}

.menu-button {
  display: inline-block;
  background-color: var(--secundary-color);
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: var(--max-border-raius);
}

.section-times {
  border: solid 1px white;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: var(--default-border-radius);
}

.about {
  padding: 0 10px;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  color: var(--text-color);
  display: flex;
  /* border: solid 1px white; */
  justify-content: space-between;

  font-weight: 300;
  padding: 0 10px 0;
}

footer a {
  color: var(--text-color);
  text-decoration: none;
}

footer ul {
  text-align: left;
  margin: 0;
  /* border: solid 1px white; */
  height: 100px;
}

footer li {
  margin: 0 5px;
  list-style: none;
}
footer img {
  width: 100px;
  height: 100px;
}
